<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册&登录</title>
    <style>
        div{
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div>
        <button id="getMachineCode">获取机器码</button>
        <label for=""></label>
    </div>
    <div>
        <table>
        <tr>
            <td>机器码:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>用户名:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>密&nbsp;&nbsp;&nbsp;码:</td>
            <td><input type="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><button id="register">注册</button></td>
        </tr>
    </table>
    </div>
    <div>
        <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>密&nbsp;&nbsp;&nbsp;码:</td>
            <td><input type="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><button id="login">登录</button></td>
        </tr>
    </table>
    </div>
</body>
<script src="static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script>
    window.onload=function () {

        $("#getMachineCode").on("click", function () {
            $.ajax({
                url: "http://127.0.0.1:5000/machine_code",
                type:"get",
                contentType: "application/json",
                success: function (resp) {
                    $("#getMachineCode").next().html("您的机器码：" +  resp.machine_code)
                },
                error:function (e) {
                    alert("网络错误,获取机器码失败")
                }
            })
        })
    }
</script>
</html>